body {
    font-family: sans-serif;
    color:#114171;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color:#ccc;
}

.error {
    color: red;
    font-weight:bold;
    font-size:14px;
}

label {
    display: block;
    font-size: 14px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    font-size: 14px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 14px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 14px;
    margin:1% auto;
}

hr {
    margin: 14px auto;
}

.post + .post {
    margin-top: 14px;
}

.post-title {
    font-weight: bold;
    font-size: 14px;
}

.post-body {
    margin: 0;
    font-size: 14px;
}

.post-author {
    font-style: italic;
    font-size: 12px;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 14px;
}

nav #user-account {
    float: right;
}
